<div class="main-agileinfo">
  <div class="agileits-top">
    <h1>Delete User</h1>
    <%= form_tag delete_user_path do |user| %>
      <div class="field">
        <%= label_tag :email ,"Email"%>
        <%= email_field_tag :email %>
      </div>
      <div class="actions">
        <%= submit_tag "Delete User" %>
      </div>
    <% end %>
  </div>
</div>