.main_div{
border-style:solid;
border-radius:30px;
float:left;
height:90.5%;
width:29.5%;
text-align:center;
padding:20px;
}
#div1{
background-color:green;
}
#div2{
background-color:blue;
}
#div3{
background-color:red;
}
body,html{
height:100%;
width:100%;
}