<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @login_datum.username %>
</p>

<%= link_to 'Edit', edit_login_datum_path(@login_datum) %> |
<%= link_to 'Back', login_data_path %>
