<br><br><br>
<h1>New Candidate Detail</h1>
<%= render 'form', candidate_detail: @candidate_detail %>
<div class="text-center">
  <%= link_to 'Back', candidate_details_path,class:"btn btn-default" %>
</div>